*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  }

body{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

.navbar{
  width: 15vw;
  height: 100vh;



}
.logo{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;

}
.logo div{
  width: 80px;
  height: 40px;

}

.logoup{
  background: #323846;
  color: #C3F7EB;;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 20px 20px 0 0;
}

.logodown{
  background: #C3F7EB;
  color: #323846;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0 0 20px 20px;
}

.navbar .head{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background:  #323846;

  border-radius: 0 25px 25px 0 ;
}

.head_items{
  border-radius: 10px;
  color:  #C3F7EB;
  border: 1px solid #C3F7EB;
  height: 15%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
.head_items:hover{
  color:  #323846;
  border: 1px solid #323846;
  background: #C3F7EB;

}
.navbar .foot{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 5px;
}
.foot_items{
  margin-bottom: 20px;
  color:  #323846;
  height: 10%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 25px;
}
.foot_items:hover{
  color: lightgrey;
}




.RightContainer{
  display: flex;
  flex-direction: column;
}

.LineChartContainer{
  width: 55vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.DoughnutChartContainer{
  width: 33vw;
  height: 33vh;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  padding: 5px;
}
.RadarChartContainer{
  width: 33vw;
  height: 33vh;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.CounterContainer{
  width: 33vw;
  height: 33vh;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: row;
  flex-wrap:nowrap;
  margin-right: 2px;

}
.CounterContainer div{
  height: 100%;
  width: calc(100%/3);
  border-left:  1px solid black;
  border-right:  1px solid black;
  border-radius: 25px;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

.CounterContainer i{
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 60px;
  color:#323846;

}
